CREDENTIALS="/home/bash-in/credentials.json"

# bash
JIRA_REPORTER="/home/bash-in/jira-report.sh"

# python
ORG_PARSER_PATH="/home/bash-in/org_parser.py"

# API
AUTH_API_ENDPOINT="https://dev.vyaguta.lftechnology.com/api/auth/authorize"
CALENDAR_API_ENDPOINT="https://dev.vyaguta.lftechnology.com/api/leave/calendar"
ATTENDANCE_API_ENDPOINT="https://dev.vyaguta.lftechnology.com/api/leave/worklogs"
TASK_TYPES_API_ENDPOINT="https://dev.vyaguta.lftechnology.com/api/leave/task-types"
INVOLVEMENTS_API_ENDPOINT="https://dev.vyaguta.lftechnology.com/api/teams/involvements"
